<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Email Notification</title>
    </head>
    <body>
        <small>Здравей, {{username}}</small>

        <p>Току-що се вписа в "Мраволак" за първи път.</p>
        <p>
            В съгласие с нашите вътрешни правила ще използваме електронния адрес {{mail}} споделен с нас
            единствено за предоставяне на информация за твоите поръчки.
        </p>
        <p>Уважаваме личното пространство!</p>

        <em>Благодарим,</em><br />
        <em>
            Екипът на "<b><a href="https://mravolak.mine.bz/">Мраволак</a></b
            >"
        </em>
        <p></p>
        <hr />
        <p></p>
        <small>Hello, {{username}}</small>

        <p>You have just signed in Mravolak for the first time.</p>
        <p>
            According to our internal policy, we will use the e-mail {{mail}} shared with us solely for
            providing information about your orders.
        </p>
        <p>We value your privacy!</p>

        <em>Thank you,</em><br />
        <em>
            Team <b><a href="https://mravolak.mine.bz/">Mravolak</a></b>
        </em>
    </body>
</html>
