<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Email Notification - new subscription on mravolak.mine.bz</title>
    </head>
    <body>
        <p>Email Notification</p>

        <p>A new subscription just happend!</p>
        <small>{{username}}</small>
        <small>{{email}}</small>
        <small>{{way}}</small>
        <br />
        <em>Thank you</em>
    </body>
</html>
