<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>mravolak.mine.bz - Моля, потвърдете профила си / Please confirm your profile</title>
    </head>
    <body>
        <p>Здравейте,</p>

        <p>Току-що се вписахте в "Мраволак" за първи път с тази електронна поща.</p>
        <p>
            В съгласие с нашите вътрешни правила, за да потвърдим действителността на Вашия профил моля
            последвайте следния <a href="{{username}}">линк</a>.
        </p>
        <p>В случай че не сте направили Вие тази регистрация, моля неглижирайте този мейл.</p>

        <em>Благодарим,</em><br />
        <em>
            Екипът на "<b><a href="https://mravolak.mine.bz/">Мраволак</a></b
            >"
        </em>
        <p></p>
        <hr />
        <p></p>
        <p>Hello!</p>

        <p>You have just signed in Mravolak for the first time usign this e-mail.</p>
        <p>
            According to our internal policy, you need to confirm your profile by clicking
            <a href="{{username}}">here</a>.
        </p>
        <p>In case it was not you, please neglect this message.</p>
        <p>We value your privacy and won't bother you again.</p>

        <em>Thank you,</em><br />
        <em>
            Team <b><a href="https://mravolak.mine.bz/">Mravolak</a></b>
        </em>
    </body>
</html>
