main {
  min-height: 80vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Neucha,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.cardTitle {
  min-height: 6rem;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h4 {
  font-weight: 900;
  color: aliceblue;
}

.carousel img {
  display: block;
  height: 400px;
  padding: 3px;
  padding-top: 5em;
  margin: 40px;
  border-radius: 3px;
  margin:auto;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h4 {
    font-size: 2.5vw;
  }
}

.btn-fb {
  padding: 0.66rem;
  border: none;
  background: #4267b2;
  background-color: #3b5998;
  color: rgba(255, 255, 255, 0.87);
  /* width: 50%; */
  line-height: 1;
  letter-spacing: 0.21px;
  text-align: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
}
.btn-fb:hover {
  box-shadow: 0 0 3px 3px rgba(59, 89, 152, 0.3);
}